# =============================================================================
# Global Environment Configuration
# Copy this file to .env and adjust values for your environment
# =============================================================================

# ---- General ----
APP_NAME=FastAPI Nuxt Template App
ENVIRONMENT=development
DEBUG=True

# ---- Database (PostgreSQL) ----
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=R@ndoM_P@s5w0Rd!
POSTGRES_DB=postgres_db
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_URL=postgresql+psycopg://postgres_user:R@ndoM_P@s5w0Rd!@postgres:5432/postgres_db

# ---- Redis ----
REDIS_PASSWORD=R@ndoM_P@s5w0Rd!
REDIS_PORT=6379
REDIS_HOST=redis

# ---- Mailpit (Email testing) ----
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
MAILPIT_HOST=mailpit


# ---- Backend (FastAPI) ----
BACKEND_PORT=8000
BACKEND_SECRET_KEY=ed8f2ea7573298e6365e4168237a5a82c1365e2e084850adedc51419f572db15
BACKEND_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
BACKEND_API_PREFIX=/api
BACKEND_DEBUG=True


# ---- Frontend (Nuxt 4) ----
FRONTEND_PORT=3000
API_BASE_URL=http://localhost:8000

# ---- Nginx ----
NGINX_PORT=8080
NGINX_HOST=nginx
NGINX_CONFIG=nginx.conf
NGINX_LOGS=nginx_logs
