# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.pem
.env

# Node
node_modules/
/.npm
/.pnpm-store
/.pnpm-debug.log

# Nuxt
.nuxt/
output/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
